@mixin inverted-button {
    background-color: $off-white;
    color: $worning-red;
    box-shadow: none;
}

.account-page {
    @include from;

    .deleteAccount{
        @include inverted-button;
        &:hover{
            @include inverted-button;
        } 
        &:active{
            @include inverted-button;
        }
    }

    .cancel-button {
        @include inverted-button;
        color: $background-gray-color;

        &:hover {
            @include inverted-button;
            color: $background-gray-color;
        }
    }
}