@mixin delete {
    background-color: $off-white;
    color: $worning-red;
    box-shadow: none;
}

.account-page {
    @include from;

    .deleteAccount{
        @include delete;
        &:hover{
            @include delete;
        } 
        &:active{
            @include delete;
        }
    }

    .cancel-button {
        background-color: $off-white;
        color: $background-gray-color;
        box-shadow: none;

        &:hover {
            background-color: $off-white;
            color: $background-gray-color;
            box-shadow: none;
        }
    }
}