$brand-color: #000;
$brand-background: #060002; //#fcf6f3;
$brand-forground: #292d31;

$off-black: #35353c;
$off-white: #ecf0f1;

$accept-color-one: #8DC53E;//#8DC53E;
$accept-color-two: #A49F68;//#A49F68;
$accept-color-three: #B08B7E;//#B08B7E;

$float-gray-color: #dfe6e9;
$secound-float-gray-color: #b2bec3;
$background-gray-color: #636e72;

$success: #6c5ce7;
$worning-red: #d13b3b;

$brand-box-shadow: 0 1px 2px rgba(0,0,0,0.15);


@mixin gradiant-background {
    background: linear-gradient(270deg, $accept-color-one, $accept-color-two, $accept-color-three);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    
}

@mixin action-button {
    background-color: $accept-color-one;
    color:#fff;
    font-size: 100%;
    height: 35px;
    width: 100%;
    border: none;
    box-shadow: $brand-box-shadow;
    

    &:disabled, &:disabled:hover {
        box-shadow: none;
        color:$worning-red;
        background-color: $worning-red;
        cursor: default;
    }

    &:hover{
        background-color: lighten($accept-color-one, 5%);
        cursor: pointer;
    } 
}

@mixin from {
    position: relative;
    z-index: 1;
    background: $off-white;
    color:$off-black;
    max-width: 360px;
    margin: 60px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: $brand-box-shadow;
  
  
    h1,h2,h3,p {
        color: $off-black;
    }

    input {
        outline: 0;
        background: lighten($off-white, 5%);
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    button {
        text-transform: uppercase;
        outline: 0;
        background: $accept-color-one;
        width: 100%;
        border: 0;
        padding: 15px;
        color: $off-white;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        box-shadow: $brand-box-shadow;
    }
      
    button:hover, button:active, button:focus {
        background: lighten($accept-color-one, 5%);
    }
}