$brand-color: #d13b3b;
$brand-background: #060002; //#fcf6f3;
$brand-forground: #292d31;

$off-black: #35353c;
$off-white: #ecf0f1;

$accept-color-one: #F4711D;//#8DC53E;
$accept-color-two: #78380F;//#A49F68;
$accept-color-three: #A4A491;//#B08B7E;

$float-gray-color: #dfe6e9;
$secound-float-gray-color: #b2bec3;
$background-gray-color: #636e72;

$brand-box-shadow: 0 1px 2px rgba(0,0,0,0.15);